html, body {
    margin: 0px;
    padding: 0px;
}
main {
    width: 500px;
    height: 700px;
    margin: 20px auto;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}

main div {
    position: absolute;
    /* display: inline; */
    /* background-color: blueviolet; */
    top: 0px;
    left: 0px;
}
