html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: url("../img/sun-pattern.png");
    background-attachment: fixed;
}

main {
    width: 500px;
    height: 700px;
    margin: 50px auto;
    text-align: center;
    background-color: lightskyblue;
    overflow: hidden;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

}

div {
    font-size: 22px;
}

header {
    padding-top: 1em;
}

nav {
    margin-top: 50%;
    font-size: 1.5em;
}
h1 {
    font-size: 3em;
}

h3 span {
    text-decoration: underline;
}

.gameWord {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

#roundSummary {
    margin-top: 40%
}
